<p>Bienvenue sur la page d'accueil logguée des pharmaciens</p>

<%= link_to 'Créer un patient',  pharmacists_patient_nouveau_path, class: 'btn btn-primary' %>
<%= link_to 'Créer une ordonnance',  pharmacists_ordonnance_nouvelle_path, class: 'btn btn-primary' %>